<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xxpay.dal.dao.mapper.CashChannelMapper">
    <resultMap id="BaseResultMap" type="org.xxpay.dal.dao.model.CashChannel">
        <id column="Id" property="id" jdbcType="VARCHAR"/>
        <result column="Name" property="name" jdbcType="VARCHAR"/>
        <result column="Label" property="label" jdbcType="VARCHAR"/>
        <result column="Code" property="code" jdbcType="VARCHAR"/>
        <result column="PayType" property="payType" jdbcType="VARCHAR"/>
        <result column="State" property="state" jdbcType="TINYINT"/>
        <result column="MaxTransactionAmount" property="maxTransactionAmount" jdbcType="BIGINT"/>
        <result column="MinTransactionAmount" property="minTransactionAmount" jdbcType="BIGINT"/>
        <result column="ThirdDeduction" property="thirdDeduction" jdbcType="BIGINT"/>
        <result column="Param" property="param" jdbcType="VARCHAR"/>
        <result column="Remark" property="remark" jdbcType="VARCHAR"/>
        <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    Id,
    Name,
Label,
Code,
PayType,
State,
MaxTransactionAmount,
MinTransactionAmount,
ThirdDeduction,
Param,
Remark,
CreateTime,
UpdateTime
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.xxpay.dal.dao.model.CashChannelExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_cash_channel
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_cash_channel
        where Id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_cash_channel
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="org.xxpay.dal.dao.model.CashChannelExample">
        delete from t_cash_channel
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="org.xxpay.dal.dao.model.CashChannel">
    insert into t_cash_channel (Id,
      Name,
Label,
Code,
PayType,
State,
MaxTransactionAmount,
MinTransactionAmount,
ThirdDeduction,
Param,
Remark,
CreateTime,
UpdateTime
)
    values (#{Id,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR},
#{label,jdbcType=VARCHAR},
#{code,jdbcType=VARCHAR},
#{payType,jdbcType=VARCHAR},
#{state,jdbcType=TINYINT},
#{maxTransactionAmount,jdbcType=BIGINT},
#{minTransactionAmount,jdbcType=BIGINT},
#{thirdDeduction,jdbcType=BIGINT},
#{param,jdbcType=VARCHAR},
#{remark,jdbcType=VARCHAR},
#{createTime,jdbcType=TIMESTAMP},
#{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="org.xxpay.dal.dao.model.CashChannel">
        insert into t_cash_channel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">Id,</if>
            <if test="name != null ">Name,</if>
            <if test="label != null ">Label,</if>
            <if test="code != null ">Code,</if>
            <if test="payType != null ">PayType,</if>
            <if test="state != null ">State,</if>
            <if test="maxTransactionAmount != null ">MaxTransactionAmount,</if>
            <if test="minTransactionAmount != null ">MinTransactionAmount,</if>
            <if test="thirdDeduction != null ">ThirdDeduction,</if>
            <if test="param != null ">Param,</if>
            <if test="remark != null ">Remark,</if>
            <if test="createTime != null ">CreateTime,</if>
            <if test="updateTime != null ">UpdateTime,</if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null">#{id,jdbcType=VARCHAR},</if>
            <if test="name != null ">#{name,jdbcType=VARCHAR},</if>
            <if test="label != null ">#{label,jdbcType=VARCHAR},</if>
            <if test="code != null ">#{code,jdbcType=VARCHAR},</if>
            <if test="payType != null ">#{payType,jdbcType=VARCHAR},</if>
            <if test="state != null ">#{state,jdbcType=TINYINT},</if>
            <if test="maxTransactionAmount != null ">#{maxTransactionAmount,jdbcType=BIGINT},</if>
            <if test="minTransactionAmount != null ">#{minTransactionAmount,jdbcType=BIGINT},</if>
            <if test="thirdDeduction != null ">#{thirdDeduction,jdbcType=BIGINT},</if>
            <if test="param != null ">#{param,jdbcType=VARCHAR},</if>
            <if test="remark != null ">#{remark,jdbcType=VARCHAR},</if>
            <if test="createTime != null ">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null ">#{updateTime,jdbcType=TIMESTAMP},</if>

        </trim>
    </insert>
    <select id="countByExample" parameterType="org.xxpay.dal.dao.model.CashChannelExample"
            resultType="java.lang.Integer">
        select count(*) from t_cash_channel
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_cash_channel
        <set>
            <if test="record.name != null "> Name = #{record.name,jdbcType=VARCHAR},</if>
            <if test="record.label != null "> Label = #{record.label,jdbcType=VARCHAR},</if>
            <if test="record.code != null "> Code = #{record.code,jdbcType=VARCHAR},</if>
            <if test="record.payType != null "> PayType = #{record.payType,jdbcType=VARCHAR},</if>
            <if test="record.state != null "> State = #{record.state,jdbcType=TINYINT},</if>
            <if test="record.maxTransactionAmount != null "> MaxTransactionAmount = #{record.maxTransactionAmount,jdbcType=BIGINT},</if>
            <if test="record.minTransactionAmount != null "> MinTransactionAmount = #{record.minTransactionAmount,jdbcType=BIGINT},</if>
            <if test="record.thirdDeduction != null "> ThirdDeduction = #{record.thirdDeduction,jdbcType=BIGINT},</if>
            <if test="record.param != null "> Param = #{record.param,jdbcType=VARCHAR},</if>
            <if test="record.remark != null "> Remark = #{record.remark,jdbcType=VARCHAR},</if>
            <if test="record.createTime != null "> CreateTime = #{record.createTime,jdbcType=TIMESTAMP},</if>
            <if test="record.updateTime != null "> UpdateTime = #{record.updateTime,jdbcType=TIMESTAMP},</if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_cash_channel
        set
        Name = #{record.name,jdbcType=VARCHAR},
        Label = #{record.label,jdbcType=VARCHAR},
        Code = #{record.code,jdbcType=VARCHAR},
        PayType = #{record.payType,jdbcType=VARCHAR},
        State = #{record.state,jdbcType=TINYINT},
        MaxTransactionAmount = #{record.maxTransactionAmount,jdbcType=BIGINT},
        MinTransactionAmount = #{record.minTransactionAmount,jdbcType=BIGINT},
        ThirdDeduction = #{record.thirdDeduction,jdbcType=BIGINT},
        Param = #{record.param,jdbcType=VARCHAR},
        Remark = #{record.remark,jdbcType=VARCHAR},
        CreateTime = #{record.createTime,jdbcType=TIMESTAMP},
        UpdateTime = #{record.updateTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="org.xxpay.dal.dao.model.CashChannel">
        update t_cash_channel
        <set>
            <if test="name != null "> Name = #{name,jdbcType=VARCHAR},</if>
            <if test="label != null "> Label = #{label,jdbcType=VARCHAR},</if>
            <if test="code != null "> Code = #{code,jdbcType=VARCHAR},</if>
            <if test="payType != null "> PayType = #{payType,jdbcType=VARCHAR},</if>
            <if test="state != null "> State = #{state,jdbcType=TINYINT},</if>
            <if test="maxTransactionAmount != null "> MaxTransactionAmount = #{maxTransactionAmount,jdbcType=BIGINT},</if>
            <if test="minTransactionAmount != null "> MinTransactionAmount = #{minTransactionAmount,jdbcType=BIGINT},</if>
            <if test="thirdDeduction != null "> ThirdDeduction = #{thirdDeduction,jdbcType=BIGINT},</if>
            <if test="param != null "> Param = #{param,jdbcType=VARCHAR},</if>
            <if test="remark != null "> Remark = #{remark,jdbcType=VARCHAR},</if>
            <if test="createTime != null "> CreateTime = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null "> UpdateTime = #{updateTime,jdbcType=TIMESTAMP},</if>
        </set>
        where Id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.xxpay.dal.dao.model.CashChannel">
    update t_cash_channel
    set
        Name = #{name,jdbcType=VARCHAR},
Label = #{label,jdbcType=VARCHAR},
Code = #{code,jdbcType=VARCHAR},
PayType = #{payType,jdbcType=VARCHAR},
State = #{state,jdbcType=TINYINT},
MaxTransactionAmount = #{maxTransactionAmount,jdbcType=BIGINT},
MinTransactionAmount = #{minTransactionAmount,jdbcType=BIGINT},
ThirdDeduction = #{thirdDeduction,jdbcType=BIGINT},
Param = #{param,jdbcType=VARCHAR},
Remark = #{remark,jdbcType=VARCHAR},
CreateTime = #{createTime,jdbcType=TIMESTAMP},
UpdateTime = #{updateTime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>